#container{
    height: 300px;
    width: 400px;
    border: 2px solid black;   
    text-align: center;
    margin-top: 220px;
    margin-left: 500px;
    background: transparent;
    backdrop-filter:blur(20px);background-color: rgb(250, 249, 252);
    box-shadow: 0 0 10px;
    display: flex;
    
}
body{
    text-align: center;
}
img{
    height:100px;
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
   border: 2px solid black;
}
.info{
      margin-left: 100px;

}